/*
colors to use :
#000000
#659224
#379EC1
Titre: Medium majuscule premiere lettre uniquement
Texte(all): Light police roboto
*/
@font-face {
    src : url(./Roboto-Light.ttf);
    font-family: Roboto Thin;
}
header{
    background-color: #121212;
    border-radius: 10px;
    color :#659224;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}
body{
    padding: 25px;
    background-color: #1c1b1b;
    font-family: Roboto Thin;
}
div{

    border-radius: 10px;
    background-color: #121212;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 100px;
}
img{
    max-height: 320px;
    max-width: 450px;
    border-radius: 6px;
    margin-bottom: 20px;
}
h2{
    color :#659224;
    font-weight: 500;
}
p{
    color: #379EC1;
    font-weight: 300;
}
